div(class="container")
    div(class="row")
                div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                hr
    div(class="row")
        div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
          h4 Меню
          ul(class="clean")
            li
                a(href="/") Главная
            li
                a(href="/prices") Цены
            li
                a(href="/about") О нас
            li
                a(href="/reviews") Отзывы
            li
                a(href="/contacts") Kонтакты
          br
          br
        div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
          h4 Контакты
          p Наш телефон:
            strong 8-499-390-30-94
            br
            span Наш адрес: г.Москва,
            br
            span ММДЦ Москва-сити, 
            br
            span Пресненская набережная 6 с.2
        div(class="col-xs-4 col-sm-4 col-md-4 col-lg-4")
          p Optimal solution 2016 - Все права защищены.
    
