script(type="text/javascript" src="vendors/jquery/dist/jquery.js")
script(type="text/javascript" src="vendors/jquery-validation/dist/jquery.validate.js")
script(type="text/javascript" src="javascripts/bootstrap.js")
script(type="text/javascript" src="javascripts/main.js")