extends layout

block content
    div(class="container")
        div(class="row")
            div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
              div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                ol(class="carousel-indicators")
                  li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
                  li(data-target="#carousel-example-generic" data-slide-to="1" class="active")
                div(class="carousel-inner" role="listbox")
                  div(class="item active")
                    img(src="images/carousel/1.png" alt="Ключевые слова")
                  div(class="item")
                    img(src="images/carousel/2.png" alt="Ключевые слова")
        div(class="row center")
            h3 Что мы делаем
            br
            br
            div(class="col-lg-4")
                img(width="64" height="64" src="images/services/sites.png")
                h4 Сайты
                p Разработка и поддержка сайтов любой сложности. Недорогие сайты-визитки, стильные промо-сайты, Многофункциональные онлайн-магазины, Сложные интернет-порталы  
            div(class="col-lg-4")
                img(width="64" height="64" src="images/services/spec.png")
                h4 Технические задания
                p Технические задания. Документация по созданию мобильных приложений, web приложений любой сложности для разработчиков. Стратегии монетизации, маркетинг стратегии. Составление бизнес модели приложений
            div(class="col-lg-4")
                img(width="64" height="64" src="images/services/consulting.png")
                h4 Консультации
                p Консультации по разработке сайтов, консультация по настройки CMS систем, консультация по работе с сервером(хостинг), Консультация по дизайну, подбор персонала для стартапов или разработки ПО

        div(class="row")
            div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
            hr
        div(class="row center")
            h3 Команда
            br
            br
            div(class="col-lg-3")
                img(width="128" height="128" src="images/team/pavel.png" class="img-circle")
                h4 Павел
                p Разработчик программного обеспечния, архитектор, проектировщик вэб-интерфейсов
            div(class="col-lg-3")
                img(width="128" height="128" src="images/team/araksiya.png" class="img-circle")
                h4 Араксия
                p Дизайнер вэб интерфейсов и сео-специалист
            div(class="col-lg-3")
                img(width="128" height="128" src="images/team/Ilya.png" class="img-circle")
                h4 Илья
                p Разработчик программного обеспечения
            div(class="col-lg-3")
                img(width="128" height="128" src="images/team/Tiger.png" class="img-circle")
                h4 Тайгер Матросович
                p Офисный кот, который имеет огромный опыт поднятия настроения всей команде

   