doctype html
html
  head
    meta(charset='utf=8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="stylesheets/bootstrap.css", rel="stylesheet")
    link(href="stylesheets/bootstrap-theme.css", rel="stylesheet")
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
    
  body
    include ../views/shared/header.jade
    block content
    include ../views/shared/footer.jade
    include ../views/shared/modals.jade
    include ../views/shared/scripts.jade
    script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter34654605 = new Ya.Metrika({
                        id:34654605,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    noscript
        <div><img src="https://mc.yandex.ru/watch/34654605" style="position:absolute; left:-9999px;" /></div>

    